<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Blomi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>
    <body>
        <h1 class="text-4xl">Blomi (ブロミー) | データベース収集状況</h1>
        
        <div class="container">
            <div class="card" style="width: 25rem;">
                <div class="card-header">
                    収集状況
                </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="tx-left">ユーザー数</span><span class="tx-right">{{ usersCount }}</span></li>
                <li class="list-group-item"><span class="tx-left">全体サンプル数</span><span class="tx-right">{{ totalCount }}</span></li>
            </ul>
            </div>
        </div>
        
        
        <footer>
            <a href="/">トップページに戻る</a><br>
            &copy; 2022 CyberRex ・ MIT License
        </footer>
    </body>
</html>